[Unit]
Description=Gunicorn instance to serve Flask
After=network.target
[Service]
User=root
Group=www-data
WorkingDirectory=/home/rsbp/RSBP-final-project
Environment="PATH=/home/rsbp/RSBP-final-project/venv/bin"
ExecStart=/root/RSBP-final-project/venv/bin/gunicorn --bind 0.0.0.0:5000 wsgi:app
[Install]
WantedBy=multi-user.target
