<!DOCTYPE html>
<html>
<head>
    <title>TOOLS</title>
</head>
<body>
    <h1>Choose</h1>
    <form id="uploadForm">
        <button onclick="handleFile('diagram')">Submit Diagram</button>
        <button onclick="handleFile('prediction')">Submit Prediction</button>
    </form>

    <script>
        function handleFile(fileType) {
            var form = document.getElementById('uploadForm');
            if (fileType === 'diagram') {
                form.action = '/diagram-form';
            } else if (fileType === 'prediction') {
                form.action = '/prediction-form';
            }
            form.submit();
        }
    </script>
</body>
</html>
