<!DOCTYPE html>
<html>
<head>
    <title>File Upload</title>
</head>
<body>
    <h1>UPLOAD YOUR FILES TO PREDICT</h1>
    <form action="/predict" method="POST" enctype="multipart/form-data">
        <label for="dataset">Dataset File: </label><br>
        <input type="file" name="dataset" id="dataset"><br><br>
        <label for="config">Config File (optional): </label><br>
        <input type="file" name="config" id="config"><br><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>
